*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html{
    scroll-behavior: scroll;}

body{
    overflow-x: hidden;
}

.nav-link{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px !important;
}

.nav-link:hover{
    background-color: #30a6e6 !important;
    transition: .25s all ease;
    color: #fff !important;
}

.navbar ul li a::after {
    content: "";
    display: block;
    width: 0%;
    position: absolute;
    left: 50%;
    bottom: 6px;
    height: 1px;
    background: black;
    -webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
}

.navbar ul li a:hover::after {
    width: calc(100% - 30px);
    left: 15px;
}


ul.dropdown-menu.fs-6.show li {
    font-size: 14px;
    font-weight: 600 !important;
}

ul.dropdown-menu.fs-6.show li a::after {
    content: "";
    display: block;
    width: 0%;
    position: absolute;
    left: 50%;
    bottom: 6px;
    height: 1px;
    background: black;
    -webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
}

/*DROP DOWN*/

.navbar ul li {
    position: relative;
  }
  .navbar ul li ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    font-size: 24px;
    height: auto;
    text-align: center;
    z-index: 110;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    -webkit-transform: scaleY(0);
    -webkit-transform-origin-Y: 0;
    -webkit-transition: all .5s;
    padding: 0
  }
  .navbar ul li ul {
    width: 150px;
  }
  .navbar ul li ul {
    width: 150px;
  }
  .navbar ul li:hover ul {
    -webkit-transform: scaleY(1);
  }

/* .dropdown-menu{
    transition: .25s all ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px !important;
    top: 44;
}

li:hover ul.dropdown-menu{
    opacity: 1;
} */

li.nav-item.dropdown a:hover {
    background: #30a6e6 !important;
    color: white;
    transition: .5s ease-in-out;
}

.carousel-item img{
    width: 100%;
    height: 80vh;
}

.services-section .card{
    border: none;
    transition: 1.1s all;
    cursor: pointer;
    border-radius: 20px;
}

.services-section .card:hover{
    box-shadow: 6px 6px 40px 10px #5F4B8BFF;
    transform: translateX(20px);

}

.portfolio-section .card{
    border: none;
    transition: 1.1s all;
    cursor: pointer;
    border-radius: 20px;
}

.portfolio-section .card img{
    min-width: 30%;
    min-height: 150%;
}

.portfolio-section .card:hover{
    box-shadow: 6px 6px 40px 10px #5F4B8BFF;
    transform: translateX(20px);    
}

footer ul li a {
    text-decoration: none !important;
}

.back-to-top.actives {
    cursor: pointer;position: fixed;
    bottom: 50px;
    right: 30px;
    display: none;
    border: none;
    width: 55px;
    height: 55px;
    transform: translate3d(0, 0px, 0);
    border-radius: 50%;
    background: #353535;
    z-index:123;
    border: 1px solid #353535;
}
.back-to-top p {
    position: absolute;
    /* bottom: 17px; */
    left:7px;
    /* background:url(../images/top-arrow.png) no-repeat; */
    width: 20px;
    height: 20px;
    right: 0;
    left: 0;
    margin: 0px auto;
}

/* media queries */

/* mobile phones  */
